body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
.heading {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
}

/* Home index container styles */
.home-index-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Home index buttons styles */
.home-index-btns {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 500px; /* Set the width to 500px */
}

.home-index-btn {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  width: 500px;
  height: 150px;
  text-transform: uppercase;

}

.btn:hover {
  background-color: #0056b3;
  text-decoration: none;
}

/* Links styles */
a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
/*  border: 2px solid red;*/
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}
