<h1>Welcome to the Task App!</h1>

<% if @names.any? %>
  <h2>Links based on names:</h2>
  <ul>
    <% @names.each do |name| %>
      <li><%= link_to name, posts_by_name_path(name: name) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No posts found.</p>
<% end %>

<%= link_to 'New Post', new_post_path %>
<br>
<%= link_to 'Index', posts_path %>