<div>
	<h1>Landing page.</h1>

	<div>
		<div>Daily Tasks.</div>
		<div>Monthly Tasks.</div>
		<div>Yearly Tasks.</div>
	</div>

	<div>
		<div>Graphs</div>
	</div>

	<div>Tests</div>
	<div>Remains work</div>
	<div>Left test</div>

</div>